@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #abbfd3;
  /* color: #f9ae40; */
}

table {
  width: 950px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-child(odd) {
  background: #fdfdfd;
}

th {
  background: #0c2e57;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px 20px;
  border: 1px solid #fafafa;
  text-align: center;
  font-size: 18px;

}

.container {
  margin: 0 auto;
  padding: 80px 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searchBar input {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 6px;
}

.searchBar button {
  border: none;
  background: #fdfdfd;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.searchBar button:hover {
  transition: all ease-in 0.2s;
  background: #e9e9e9;
}
.imgclass{
  border-radius: 1.5rem;
  width: 20%;
}
#sortingbutt:hover{
  color: var(--def);
	transition-delay: .1s;
}